

dj-database-url==1.0.0
Django==4.1.1
django-heroku==0.3.1


gunicorn==20.1.0

keras==2.10.0

mypy-extensions==0.4.3
mysql-connector-python==8.0.30

opencv-python==4.6.0.66

Pillow==9.0.1

protobuf==3.19.1

psycopg2==2.9.4
psycopg2-binary==2.9.4


PyDispatcher==2.0.5



pynput==1.7.6

pyreadline==2.1

pytest==7.1.1

python-decouple==3.6

python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4




soupsieve==2.3.2.post1

sqlparse==0.4.3



tabulate==0.8.9

turtle==0.0.1

virtualenv==20.16.5

webencodings==0.5.1

whitenoise==6.2.0

win-unicode-console==0.5
wincertstore==0.2

xlwings==0.24.9

yellowbrick==1.5
zict==2.0.0
