{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mevi Technologies</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/logo.png' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center" >
        <!-- Uncomment the line below if you also wish to use an image logo -->
  <img src="{% static 'website/assets/img/logo.png' %}" alt=""> 
       
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
        <!--  <li><a href="projects.html">Projects</a></li>
          <li><a href="blog.html">Blog</a></li> -->
        
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            
            <h2 data-aos="fade-down" style="color:hsl(51, 100%, 50%);"><Strong></Strong><span>Welcome To Mevi Technologies</span></Strong></h2>
            <strong><p data-aos="fade-up">Lets keep it simple......</p></strong>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <video autoplay muted playsinline id="bgvid" loop="loop" title="Title">
          <source src="{% static 'website/assets/img/blog/videobg.mp4' %}" type="video/webm" >
         
      </video>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>Hi!!!,</h3>
              <p>We are energetic and innovative engineers having hands-on experience in IT industry. All of us came after gaining the insights of IT industry we came to know that industrial training is very much needed for all students and came up with our start-up to help students , IT professionals for upgrading their skills , knowledge and to secure there carrier in there dream position in their dream company. </p>
              <p>In MeVi technologies we offer Internships ,courses on Java, Python, Machine learning, Data analysis come join us we develop innovative and creative products and services for your needs our customers gets exactly what they want in more economical , creative and more convenient way just by communicating with our engineers and directly controlling the project as if they are in the same room.</p>
            </div>
          </div>

         
        </div>

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Workshop Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Workshops</h2>
          <p>Here are our recent successfull workshops/SDPs/Internships</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-7">
                  <div class="card-bg" style="background-image: url(static/website/assets/img/ssit1.jpeg);"></div>
                </div>
                <div class="col-xl-5 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Webscrapping using Python @SSIT Tumkur.</h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-7">
                  <div class="card-bg" style="background-image: url(static/website/assets/img/skit2.jpeg);"></div>
                </div>
                <div class="col-xl-5 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Machine Learning workshop @SKIT bengaluru</h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          
        </div>

      </div>
    </section><!-- End Constructions Section -->


   


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>“Setting customer expectations at a level that is aligned with consistently deliverable levels of customer service requires that your whole staff, from product development to marketing, works in harmony with your brand image.” - Richard Branson</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/vijay.jpeg' %}" class="testimonial-img" alt="">
                  <h3>Vijay B R</h3>
                  <h4>IT manager &amp; Trainer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    You will given opportunity to lead as the culture is quite cooperative.
                     Open door policy, flexible work timings and exposure to HR tech domain
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/swasthik.jpeg' %}" class="testimonial-img" alt="">
                  <h3>R SWASTHIK </h3>
                  <h4>student - Reva University</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    It's one of the best experience I've had  and i have learnt Full stack development.thank so much for being the best trainers and I've gained knowledge towards full stack development. From Android developer to full stack developer ur guidance made me learn stuff easily 😊.
                    Hoping will have more training session more 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/neeyal.jpeg' %}" class="testimonial-img" alt="">
                  <h3>neeyal </h3>
                  <h4>Student - Reva University</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I would probably categorize Mevi Technology as a 'User friendly company' , no am not kidding these guys respond to everything , either be it internship or helping you guide on your career . I am actually happy for spending a week with this wonderful hoomans especially megha maam and vijay sir , who are on their toes to make student's life more and more better 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/no.jpg' %}" class="testimonial-img" alt="">
                  <h3>Pavithra</h3>
                  <h4>Intern at MeviTechnologies</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Mevi technologies is a very good company wherein websites are developed, internships are provided to students, They also train students on various concepts like machine learning,web technologies etc by conducting student development programs.I attended their 4 day sdp session on web technologies and it was very helpful and educational where I could learn many things as a beginner
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/megha.jpeg' %}" class="testimonial-img" alt="">
                  <h3>Megha B S</h3>
                  <h4>Trainer and Developer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Great policies and procedures followed. Gives opportunities of working in highly complicated projects. Provide best facilities for employee.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="height: 350px;">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-md-0 col-md-6">
            <div class="footer-info">
              <h2 data-aos="fade-down" style="color:Gold;"><Strong></Strong><span>Mevi Technologies</span></Strong></h2>
              <strong><p data-aos="fade-up">Lets keep it simple......</p></strong>
              <p>
                <strong>Phone:</strong> +91 8309284101<br>
                <strong>Email:</strong> mevitechnologies@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-md-3 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="services.html">Services</a></li>
             
            </ul>
          </div><!-- End footer links column-->
          <div class="footer-legal text-center position-relative">
            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong><span>Mevi technologies</span></strong>. All Rights Reserved
              </div>
              
            </div>
          </div>
          <div class="col-lg-5 col-md-5 footer-links">
           

        </div>
      </div>
    </div>

    

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>